parameters:
    paths:
        - src
    level: 8

    reportUnmatchedIgnoredErrors: false

    # Added to support PHPStan 2.x
    treatPhpDocTypesAsCertain: false

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml

    excludePaths:
        # Makes PHPStan crash
        - '**/DependencyInjection/Configuration.php'

        # Test dependencies
        - 'tests/**.php'

        # These packages aren't in require-dev of the global package
        - '**MongoDB**'
        - '**ODM**'

    ignoreErrors:
        - identifier: missingType.generics

        # Added to support PHPStan 2.x
        - identifier: argument.type
        - identifier: doctrine.associationType
        - identifier: doctrine.columnType
        - identifier: identical.alwaysTrue
        - identifier: instanceof.alwaysTrue
        - identifier: property.unusedType
        - identifier: return.unusedType
        - identifier: staticMethod.alreadyNarrowedType
        - identifier: varTag.nativeType

        # Magic calls
        - '/Call to an undefined static method Webmozart\\Assert\\Assert::all/'
        - '/Call to an undefined static method Webmozart\\Assert\\Assert::nullOr/'
        - '/Call to an undefined method Faker\\Generator::/'
        - '/Access to an undefined property Faker\\Generator::/'
        - '/Method Mockery\\MockInterface::shouldReceive\(\) invoked with 1 parameter, 0 required/'

        # Reflection
        - '/Call to an undefined method ReflectionType::/'

        # Array
        - '/type specified in iterable type array/'

        # Mixed to String
        - '/Cannot cast mixed to/'

        # Doctrine
        - '/specifies template type TEntityClas/'

        # Response
        - '/::data\(\) should return array</'
        - '/Request::fromData\(\) expects array/'
        - '/Response but returns App/'

        # Public visibility
        - '/::nextIdentity\(\)\" is never used/'
        - '/::data\(\)\" is never used/'
        - '/::getValue\(\)\" is never used/'
        - '/::getValues\(\)\" is never used/'
        - '/Response::[a-zA-Z0-9\\_]+\(\)\" is never used/'
        - '/Enum::[a-zA-Z0-9\\_]+\(\)\" is never used/'
        - '/Fixture\\Factory\\[a-zA-Z0-9\\_]+Factory::[a-zA-Z0-9\\_]+\(\)\" is never used/'
        - '/Twig\\Components\\[a-zA-Z]+::[$a-zA-Z0-9\\_]+" is never used/'

    disallowedFunctionCalls:
        -
            function: 'dump()'
            message: 'use logger instead'
        -
            function: 'dd()'
            message: 'We should never die !'
        -
            function: 'die()'
            message: 'We should never die !'

includes:
